#header{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    z-index: 110;
    box-sizing: border-box;
}

body {
    background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

div {
    display: inline-block;
    vertical-align: middle;
}