#menu {
    width: 100%
}

.menu-area {
    position: relative;
    height: 90px;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
}

.menu-grid {
    margin: 0 auto;
    width: 1300px;
    height: 100%;
    display: block;
}

.menu-vertical-align-containers .menu-left::before, .menu-vertical-align-containers .menu-right::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
  }

.menu-vertical-align-containers {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.menu-vertical-align-containers .menu-left {
    position: relative;
    height: 100%;
    float: left;
    z-index: 2;
}

.menu-vertical-align-containers .menu-right {
    position: relative;
    height: 100%;
    float: right;
    text-align: right;
    z-index: 2;
    width: 576px;
}

.menu-vertical-align-containers .menu-center {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}


#header .menu-area .menu-logo-wrapper {
    max-height: 90px;
    height: 90px;
}

.menu-logo-wrapper a img {
    height: 100%;
    width: auto;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.menu-header-divided .menu-page-header .menu-vertical-align-containers .menu-position-left .menu-position-left-inner {
    height: 100%;
    text-align: left;
    padding-right: 10px;
}

.menu-header-divided .menu-page-header .menu-main-menu {
    width: auto;
    margin: 0;
}

.menu-main-menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.menu-main-menu > ul {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.menu-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
}

.menu-main-menu > ul > li {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.menu-main-menu ul li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
}

.menu-main-menu > ul > li > a {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 0 24px;
    color: #121f38;
    font-size: 11px;
    line-height: 23px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .12em;
    text-decoration: none;
}

.menu-main-menu > ul > li > a > span.item_outer {
    position: relative;
    display: block;
}

.menu-main-menu > ul > li.menu-active-item > a > span.item_outer::after, .menu-main-menu > ul > li > a:hover > span.item_outer::after {
    width: 20px;
}

.menu-main-menu > ul > li > a > span.item_outer::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #121f38;
    bottom: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    transition: width .2s ease;
    position: absolute;
}

.menu > ul > li > a {
    color: #121f38;
    font-size: 21px;
    line-height: 23px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .12em;
}

.menu-vertical-align-containers .menu-right .menu-divided-right-widget-area {
    float: right;
    height: 100%;
}

.menu-vertical-align-containers .menu-right .menu-divided-right-widget-area .menu-divided-right-widget-area-inner {
    display: table;
    height: 100%;
}

.menu-vertical-align-containers .menu-right .menu-divided-right-widget-area .menu-divided-right-widget-area-inner > * {
    display: table-cell;
    vertical-align: middle;
}

.menu-vertical-align-containers .menu-right .menu-divided-right-widget-area .menu-divided-right-widget-area-inner > * {
    display: table-cell;
    vertical-align: middle;
}

.menu-side-menu-button-opener, .menu-side-menu-button-opener .menu-side-menu-icon, .menu-side-menu-button-opener .menu-side-menu-title {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines {
    position: relative;
    display: block;
    height: 13px;
    width: 43px
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines:hover > .menu-hm-line.menu-line-1 {
    width: 23px;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines:hover > .menu-hm-line.menu-line-3 {
    width: 23px;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines .menu-hm-line {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    border-radius: 12px;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines .menu-hm-line.menu-line-1 {
    top: 0;
    left: 0;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines .menu-hm-line.menu-line-2 {
    top: 6px;
    left: 0;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines .menu-hm-line.menu-line-3 {
    bottom: 0px;
    right: 0;
    width: 43px;
}

.menu-side-menu-button-opener.menu-side-menu-button-opener-predefined .menu-hm-lines .menu-hm-line.menu-line-3:after {
    content: '';
    width: 0px;
    height: 1px;
    background-color: #121f38;
    bottom: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    transition: width .2s ease;
    position: absolute;
}

a, p a {
    color: #121f38;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.menu-right {
    text-align: left !important;
}