@media only screen and (max-width: 1400px) {
    .menu-grid {
        width: 1100px;
    }
}

@media only screen and (max-width: 1180px) {
    .menu-grid .main-position-right-inner {
        display: none
    }
    .menu-grid {
        width: 100%;
    }
    .menu-vertical-align-containers .menu-right {
        width: auto;
    }
}