<script>
import Carousel from 'svelte-carousel'
import ImageCarrousel from './common/ImageCarrousel.svelte';
</script>

<div id="banner">
    <div class="slider">
        <Carousel
            let:showPrevPage
            let:showNextPage
            arrows={true}
            autoplay={true}
            autoplayDuration=4000
        >
        <div slot="prev" on:click={showPrevPage} class="custom-arrow custom-arrow-prev">
            <i />
        </div>
            <div style="height:100%;width:100%">
                <ImageCarrousel></ImageCarrousel>
            </div>
            <div style="height:100%;width:100%">
                <ImageCarrousel></ImageCarrousel>
            </div>
        <div slot="next" on:click={showNextPage} class="custom-arrow custom-arrow-next">
            <i />
        </div>
        </Carousel>
        
    </div>
</div>

<style>
#banner, .slider{
    width: 100%;
    margin: 0;
    height: 900px;
    overflow: hidden;
}
.slider{
    height: 100%;
}
.custom-arrow {
  width: 30px;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 150ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}
.custom-arrow.custom-arrow-next {
  width: 30px;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 150ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  right: 0;
  height: 100%;
}
.custom-arrow > i{
  border: solid #1e1e1e;
  border-width: 0 5px 5px 0;
  padding: 5px;
  position: relative;
}
.custom-arrow-prev > i {
  transform: rotate(135deg);
  right: -4px;
}
.custom-arrow-next > i {
  transform: rotate(-45deg);
  right: 4px;
}
</style>

