<script>
    import Menu from "./Menu.svelte";
    import Banner from "./Banner.svelte"
</script>

<svelte:head>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="responsive.css">
</svelte:head>

<div id="header">
    <Menu></Menu>
    <Banner></Banner>
</div>

<style>

</style>