<script>

</script>

<div id="menu">

    <div class="menu-area">

        <div class="menu-grid">

            <div class="menu-vertical-align-containers">
                <div class="menu-left">
                    <div class="menu-logo-wrapper">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <img itemprop="image" class="menu-normal-logo" src="img/img-header.jpeg" alt="logo" >
                        </a>
                    </div>
                </div>
                <div class="menu-right">
                    <div class="main-position-right-inner">            
                        <nav class="menu-main-menu menu-drop-down menu-divided-left-part menu-default-nav">
                            <ul id="menu-menu-centre-gauche" class="clearfix">
                                <li id="nav-menu-item-5990" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-831 current_page_item menu-active-item narrow">
                                    <a href="https://naomietdavid.com/" class=" current ">
                                        <span class="item_outer"><span class="item_text">Accueil</span></span>
                                    </a></li>
                                <li id="nav-menu-item-5991" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                    <a href="https://naomietdavid.com/notre-histoire/" class="">
                                        <span class="item_outer"><span class="item_text">Notre Histoire</span></span>
                                    </a>
                                </li>
                                <li id="nav-menu-item-5991" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                    <a href="https://naomietdavid.com/notre-histoire/" class="">
                                        <span class="item_outer"><span class="item_text">Programme</span></span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
              
                    </div>

                    <div class="menu-divided-right-widget-area">
                        <div class="menu-divided-right-widget-area-inner">
                            <div class="menu-position-right-inner-wrap">
                                <a class="menu-side-menu-button-opener menu-icon-has-hover menu-side-menu-button-opener-predefined" href="/">
                                    <span class="menu-side-menu-icon">
                                    <span class="menu-hm-lines"><span class="menu-hm-line menu-line-1"></span><span class="menu-hm-line menu-line-2"></span><span class="menu-hm-line menu-line-3"></span></span>            </span>
                                </a>
                            </div>
                        </div>
                    </div>
		            
                            
                </div>
            </div>

        </div>

    </div>

</div>