<script>
    import { fade } from 'svelte/transition';
</script>

<img src="https://i0.wp.com/naomietdavid.com/wp-content/uploads/2021/11/IMG_5970_1-scaled.jpg?resize=1100%2C733" alt="">
<div  class="over-image">
    <div class="content" >
        <div style="display:flex; flex-direction: column; gap:40px">
            <div style="display:flex; flex-direction: row; gap:20px">
                <span class="name">FRANKLIN</span>
                <span class="rounded"></span>
                <span class="name">FATIRA</span>
            </div>
            <div>
                <button>valide</button>
            </div>
        </div>
    </div>
</div>
<style>
.over-image{
    width: 100%;
    position: absolute;
    height: 100%;
    margin: auto;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content .name{
    font-size:72px;
    visibility: visible;
    color: rgb(175, 12, 12);
}

.content .rounded{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: #fff;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>