<script>
	import Header from "./components/Header.svelte";

	let primaryColor = "#818491"
	let color = "#121f38"
</script>

<main style:color={primaryColor}>
	<Header />
</main>

<style>
	main {
		font-family: Muli,sans-serif;
		font-size: 15px;
		font-weight: 300;
		line-height: 25px;
		background-color: #fff;
	}
</style>
